<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings><add name="pos_dbEntities" connectionString="metadata=res://*/PosDB.csdl|res://*/PosDB.ssdl|res://*/PosDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=polsen-lt;initial catalog=pos_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>